################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/FSM/v15
/.vs/JEngine/v15/.suo
/.vs/JEngine/v15/Browse.VC.db
/.vs/JEngine/v15/Solution.VC.db
/.vs/JEngine/v15/ipch/AutoPCH/3adbc6056cb40d05/OBJECT.ipch
/.vs/JEngine/v15/ipch/AutoPCH/5c9d38d02b402c7f/STATE.ipch
/.vs/JEngine/v15/ipch/AutoPCH/748469e4e7096839/STATEMACHINE.ipch
/.vs/JEngine/v15/ipch/AutoPCH/7dc15d2b41078584/TRANSITIONVALUE.ipch
/.vs/JEngine/v15/ipch/AutoPCH/886fc874cddcc66a/STATEMACHINE.ipch
/.vs/JEngine/v15/ipch/AutoPCH/c0d15efa38fb453b/MAIN.ipch
/.vs/JEngine/v15/ipch/AutoPCH/c5d4c246524b6e07/TRANSITION.ipch
/.vs/JEngine/v15/ipch/AutoPCH/d0a3df59f149af1c/FSMCONTROLLER.ipch
/.vs/JEngine/v15/ipch/AutoPCH/e06a952dcf2125ac/LOG.ipch
/.vs/JEngine/v15/ipch/AutoPCH/e3df3c7027b3ee52/VECTOR3.ipch
/Debug/FSM.log
/Debug/FSMController.obj
/Debug/JEngine.exe
/Debug/JEngine.ilk
/Debug/JEngine.pdb
/Debug/JEngine.tlog/CL.command.1.tlog
/Debug/JEngine.tlog/CL.read.1.tlog
/Debug/JEngine.tlog/CL.write.1.tlog
/Debug/JEngine.tlog/JEngine.lastbuildstate
/Debug/JEngine.tlog/link.command.1.tlog
/Debug/JEngine.tlog/link.read.1.tlog
/Debug/JEngine.tlog/link.write.1.tlog
/Debug/Log.obj
/Debug/Object.obj
/Debug/State.obj
/Debug/StateMachine.obj
/Debug/Transition.obj
/Debug/TransitionValue.obj
/Debug/main.obj
/Debug/vc141.idb
/Debug/vc141.pdb
